rofi.bg: #ms_primary_colour
rofi.fg: #ms_text_colour
rofi.opacity: ms_opacity
rofi.terminal: urxvt 
rofi.borderwidth: 0
rofi.font: DejaVu Sans Mono 12
urxvt.foreground: white
urxvt.font: xft:Monospace:size=9.5
urxvt.letterSpace: -1
urxvt.scrollBar: false
urxvt.depth: 32
urxvt.background: [ms_opacity]#ms_transparent_bg
